@import url(common.css);

/*  header  */
header {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  padding: 40px 0;
}
header .logo {
  float: left;
}
header nav {
  float: right;
}
header nav ul {
  float: left;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  line-height: 56px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.main-menu li {
  margin-right: 29px;
}
.main-menu li:last-child {
  margin-right: 60px;
}
.top-icons li {
  margin-right: 25px;
}
.top-icons li:last-child {
  margin-right: 0px;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #c7b299;
}

header .logo a {
  width: 171px;
  height: 56px;
  background: url(../images/logo-white.png) no-repeat;
  display: block;
  text-indent: -9999em;
}

.slider-list li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 1024px;
  text-align: center;
  width: 100%;
}
.slider-list li.slide1 {
  background-image: url(../images/mainslide_01.jpg);
}
.slider-list li.slide2 {
  background-image: url(../images/mainslide_02.jpg);
}
.slider-list li.slide3 {
  background-image: url(../images/mainslide_03.jpg);
}

.slider-list li .contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
}
